body, html {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-tap-highlight-color: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #F05F40;
}

h5 {
  font-style: italic;
}

.footer {
  padding: 25px;
}

.myName {
  color: #F05F40;
}